- 
	users_array = [
			{
				name: 'Jane Cooper',
				email: 'jane@microsoft.com',
				phone: '(225) 555-0118',
				status: 'Active',
				country: 'United States',
				company: 'Microsoft'
			},
			{
				name: 'Floyd Miles',
				email: 'floyd@yahoo.com',
				phone: '(205) 555-0100',
				status: 'Inactive',
				country: 'Kiribati',
				company: 'Yahoo'
			},
			{
				name: 'Ronald Richards',
				email: 'ronald@adobe.com',
				phone: '(302) 555-0107',
				status: 'Inactive',
				country: 'Israel',
				company: 'Adobe'
			},
			{
				name: 'Marvin McKinney',
				email: 'marvin@tesla.com',
				phone: '(252) 555-0126',
				status: 'Active',
				country: 'Iran',
				company: 'Tesla'
			},
			{
				name: 'Jerome Bell',
				email: 'jerome@google.com',
				phone: '(629) 555-0129',
				status: 'Active',
				country: 'Réunion',
				company: 'Google'
			},
			{
				name: 'Kathryn Murphy',
				email: 'kathryn@microsoft.com',
				phone: '(406) 555-0120',
				status: 'Active',
				country: 'Curaçao',
				company: 'Microsoft'
			},
			{
				name: 'Jacob Jones',
				email: 'jacob@yahoo.com',
				phone: '(208) 555-0112',
				status: 'Active',
				country: 'Brazil',
				company: 'Yahoo'
			},
			{
				name: 'Kristin Watsons',
				email: 'kristin@facebook.com',
				phone: '(704) 555-0127',
				status: 'Inactive',
				country: 'Åland Islands',
				company: 'Facebook'
			},
		];

.main__content
	.menu_trigger.menuTrigger
		span.menu_trigger_decor
	h2.main__title Hello Evano 👋🏼,
	.main__body
		.main__top
			.main__text
				h3.main__customers All Customers
				p.main__members Active Members
			form.main__form
				+form_input({type: 'text',label: '',placeholder: 'Search',value: '',id: 'input_1',})
					button(type='submit', class='main__button') 
						+icon('search')
		.main__users
			.main__user.main__user--headline
				.main__name Customer Name
				.main__company Company
				.main__phone Phone Number
				.main__email Email
				.main__country Country
				.main__status Status
			each user in users_array
				.main__user
					.main__name= user.name
					.main__company= user.company
					a.main__phone(href=`tel:${user.phone}`)= user.phone
					a.main__email(href=`mailto:${user.email}`)= user.email
					.main__country= user.country
					div(class=`main__status main__status--${user.status.toLowerCase()}`)= user.status
		.main__bottom
			p.main__number Showing data 1 to 8 of 256K entries
			.main__pagination
				button.main__pagination-arrow.prev <
				ul.main__pagination-items
				button.main__pagination-arrow.next >